@import url("https://fonts.googleapis.com/css2?family=Satisfy&display=swap");

body {
  height: 100vh;
  width: 100vw;
  background-image: url(../images/cyan-pink-gradient-wallpaper.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

#nav-container {
  background-color: transparent;
  padding: 0;
  margin: 0;
}

#title {
  font-family: Satisfy;
  font-size: 40px;
  color: white;
}

#select {
  color: white;
}
#form {
  min-width: 0;
}

.profileA {
  text-decoration: none !important;
}

.profileBtn {
  margin-left: 1em;
  margin-right: 1em;
}

.avatar {
  padding-right: 30px;
  padding-left: 30px;
  margin-left: auto;
  margin-right: auto;
}

#profilesContainer {
  display: flex;
  justify-content: space-between;
}

.avatarImg {
  height: 130px;
  width: 130px;
  margin: 0;
  display: flex;
  align-self: center;
}

@media screen and (max-width: 410px) {
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #profilesContainer {
    display: flex;
    flex-wrap: wrap;
  }

  #profilesContainer button {
    margin: 20px;
  }

  .avatar {
    padding: 0;
  }
  .uk-form-select {
    margin-top: 10px;
  }
}
